@import url(./main.css);


/* :root {
    --gradientColor: linear-gradient(270deg, #FF6200 -5.87%, #90F 56.28%, #0064FF 100%);
    --lightBlueColor: rgb(0 81 255);
    --darkBlueColor: rgb(2 10 53);
    --darkBlueOpacityColor: rgb(31 43 107 / 0.7);
    --whiteColor: rgb(255 255 255);
    --blackColor: rgb(0 0 0);
    --blackOpacityColor: rgb(0 0 0 / 0.7);

    --borderRadius: 20px;
    --blockShadow: 0px 0px 30px 0px rgb(2 10 53 / 0.3);
    --topBlockShadow: 0px -14px 20px 0px rgb(2 10 53 / 0.1);
    
    --rubikFont: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --leadText: 400 20px/150% var(--rubikFont);
    --text: 400 18px/170% var(--rubikFont);
    --smallText: 400 16px/normal var(--rubikFont);
    --btnText: 500 16px/normal var(--rubikFont);
    --accentText: 500 24px/normal var(--rubikFont);
    --h1: 500 54px/normal var(--rubikFont);
    --h2: 500 48px/normal var(--rubikFont);
    --h3: 500 22px/normal var(--rubikFont);
    
    --rel1: 24px;
    --rel2: 54px;
    --sectionSeparator: 260px;
    --sectionPaddingInline: 200px;
    --leadPaddingInline: 200px;
    --paddingArticle: 40px;

    --transition: all 0.2s ease 0.001s;
} */

/*to main ?*/
.hero-section {
    padding-top: 170px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
/*to main ?*/

.hero-section .image {
    height: 500px;
    width: 100%;
    max-width: 1540px;
    object-fit: cover;
    object-position: top;
}


.grid-about-business {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "z1 z1"
                         "z2 z3";
    gap: 20px;


}
.grid-about-business article {
    padding: var(--paddingArticle);
    border-radius: var(--borderRadius);
    box-shadow: var(--blockShadow);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.z1 {
    grid-area: z1;
}
.z2 {
    grid-area: z2;
}
.z3 {
    grid-area: z3;
}

/* Главное – начать */
/* .how-to-start-section {
    padding-top: var(--sectionSeparator);
} */
.how-to-start-section .h2 {
    padding-left: var(--sectionPaddingInline);
    margin-bottom: 0 !important;
}
.steps-container {
    padding-inline: var(--sectionPaddingInline);
    padding-block: var(--rel2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: auto;
    scrollbar-width: none;
    gap: 20px;
}
.steps-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    min-width: 237px;

    padding: var(--paddingArticle) var(--paddingArticle) 0;
    border-radius: var(--borderRadius);
    box-shadow: var(--blockShadow);
}
.steps-container img {
    width: 100%;
}

/* Скачайте */
.download-section {
    height: 100vh;
    min-height: 800px;
    margin-block: var(--sectionSeparator);
    background-image: url("../img/images/inside-car.jpeg");
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 170px;
}
.overlay {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.overlay p {
    color: var(--whiteColor);
}


@media (max-width: 1024px) {
    /* .steps-container {
        gap: 12px;
    } */
}

@media (max-width: 768px) {
    /* .steps-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    } */
    /* .steps-container {
        flex-wrap: wrap;
    }
    .steps-container article {
        width: calc((100vw - 2 * var(--sectionPaddingInline) - 15px) / 2);
    } */
    .steps-container article {
        min-width: 50%; /* исправить */
    }

}

@media (max-width: 450px) {
    .steps-container article {
        min-width: 80%; /* исправить */
    }
}
