@import url(./main.css);


/*to main ?*/
.hero-section {
    padding-top: 170px;
    /* padding-inline: var(--leadPaddingInline); */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.hero-section .image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/*to main ?*/

.grid-about-business {
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "z1 z1"
                         "z2 z3";
    gap: 20px;







    display: none;
}
.grid-about-business article {
    padding: var(--paddingArticle);
    border-radius: var(--borderRadius);
    box-shadow: var(--blockShadow);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.z1 {
    grid-area: z1;
}
.z2 {
    grid-area: z2;
}
.z3 {
    grid-area: z3;
}


.steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;







    display: none !important;
}

.steps-container article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;

    padding: var(--paddingArticle) var(--paddingArticle) 0;
    border-radius: var(--borderRadius);
    box-shadow: var(--blockShadow);

}

.steps-container img {
    width: 100%;
    margin-top: var(--rel1);
}

.download-section {
    height: 105vh;
    margin-block: var(--sectionSeparator);
    background-image: url("../img/images/inside-car.png");
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 12%;
    
}

.overlay {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.overlay p {
    color: var(--whiteColor);
}

