@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}