
:root {
    --gradientColor: linear-gradient(270deg, #FF6200 -5.87%, #90F 56.28%, #0064FF 100%);
    --lightBlueColor: rgb(0 81 255);
    --darkBlueColor: rgb(2 10 53);
    --darkBlueOpacityColor: rgb(31 43 107 / 0.7);
    --whiteColor: rgb(255 255 255);
    --blackColor: rgb(0 0 0);
    --blackOpacityColor: rgb(0 0 0 / 0.7);

    --borderRadius: 20px;
    --blockShadow: 0px 0px 30px 0px rgb(2 10 53 / 0.3);
    --topBlockShadow: 0px -14px 20px 0px rgb(2 10 53 / 0.1);
    
    --rubikFont: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --leadText: 400 20px/150% var(--rubikFont);
    --text: 400 18px/170% var(--rubikFont);
    --smallText: 400 16px/normal var(--rubikFont);
    --btnText: 500 16px/normal var(--rubikFont);
    --accentText: 500 24px/normal var(--rubikFont);
    --h1: 500 54px/normal var(--rubikFont);
    --h2: 500 48px/normal var(--rubikFont);
    --h3: 500 22px/normal var(--rubikFont);
    
    --rel1: 24px;
    --rel2: 54px;
    --sectionSeparator: 260px;
    --sectionPaddingInline: 200px;
    --leadPaddingInline: 200px;
    --paddingArticle: 40px;

    --transition: all 0.2s ease 0.001s;
}